[Desktop Entry]
Name=Omafun
Comment=Retro game creation studio
Exec=omafun
Icon=omafun
Terminal=false
Type=Application
Categories=Game;Development;
Keywords=pixel;game;editor;retro;
StartupWMClass=omafun
